# docker-compose.yml
version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend_stockflow_lite
    restart: unless-stopped
    ports:
      - "9001:9001"
    volumes:
      - .:/var/www/html
      - app_vendor:/var/www/html/vendor
      - app_storage:/var/www/html/storage
    networks:
      - app-network

volumes:
  app_vendor:
  app_storage:

networks:
  app-network:
    driver: bridge
